.wrapper {
    align-self: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}
.formTitle {
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
}
.formSubTitle {
    width: 100%;
    font-weight: 275;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}
.formFields {
    width: 100%;
    justify-content: flex-start;
    z-index: 1;
}
.bottomImage {
    position: absolute;
    bottom: 1vh;
    left: 0;
}
.submitButton {
    width: 100%;
}
.buttons {
    margin-top: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.content {
    color: #FFFFFF;
}
.error {
    color: rgb(255,160,122);
    font-size: 12px;
}
.setPasswordMessage {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}
.passwordButtons {
    display: flex;
    gap: 10px;
    width: 100%;
}
.activateAccountButtonWrapper {
    width: 100%;
}
.activateAccountButton {
    width: 100%;
}
.completeMessage {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}